*{
  margin: 0;
  padding: 0;
  ouitline: 0;
  box-sizing: border-box;
}
html, body, #root{
  height: 100%;
  width: 100%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font: 14px 'Roboto', sans-serif;
  background: #ecf1f8;
  color: #333;
  -webkit-font-smothing: antiliased !important;
}

.box{
  align-self: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
}

.inp{
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid rgb(122, 122, 122) ;
  margin: 10px 0px;
  margin-right: 10px;
}

.btn{
  width: 50%;
  height: 40px;
  background-color: rgb(233, 197, 39);
  color: white;
  padding: 10px 0px;
  border-radius: 5px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  
}

.result{
  border: none;
  outline: 0;
  margin: 20px;
}

.label{
  float: left;
}

.title{
  margin-bottom: 20px;
}